/* global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* app front page styles */
.app__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #fff;
  border-bottom: 1px solid gray;
}

.app__headerLogo {
  height: 60px;
  margin-left: 1rem;
}

.app__productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__productList {
  height: calc(100vh - 240px);
  max-width: 1200px;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.app__singleProductContainer {
  height: 250px;
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.app__singleProductCheckbox {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.app__singleProductDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 230px;
  width: 230px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app__headerBtn1 {
  font-size: 15px;
  text-align: center;
  padding: 15px;
  min-width: 132px;
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.app__headerBtn1:hover {
  color: #47dd1e;
  background-color: whitesmoke;
}

.app__headerBtn2 {
  font-size: 15px;
  text-align: center;
  padding: 15px;
  min-width: 132px;
  margin-right: 1rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.app__headerBtn2:hover {
  color: #e12228;
  background-color: whitesmoke;
}

.app__footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #fff;
  height: 120px;
  border-top: 1px solid gray;
}

/* add product page styles */
.form__heading {
  margin: 30px 0;
  text-align: center;
  font-size: 32px;
}

.form__container {
  min-height: calc(100vh - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.form__inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.form__inputContainer h1 {
  font-weight: 300;
}

.form__inputLoader {
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

.form__submit p {
  margin-bottom: 5px;
  font-size: 25px;
}

.form__submit label {
  font-size: 25px;
  margin-bottom: 5px;
  color: #e12228 !important;
  margin-bottom: 10px;
  font-size: 14px;
}

.form__submit input {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  outline: none;
  border-radius: 5px;
  border: none;
}

.form__submit select {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form__productDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__btns button {
  font-size: 15px;
  text-align: center;
  padding: 15px;
  min-width: 132px;
  margin-right: 5px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.form__btn1:hover {
  color: #47dd1e;
  background-color: whitesmoke;
}

.form__btn2:hover {
  color: #e12228;
  background-color: whitesmoke;
}

.form__wordWrap {
  overflow-wrap: break-word;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=styles.css.map */