  /* global styles */
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
 /* app front page styles */
.app {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #fff;
    border-bottom: 1px solid gray;
  }
  &__headerLogo {
    height: 60px;
    margin-left: 1rem;
  }
  &__productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  &__productList {
    height: calc(100vh - 240px);
    max-width: 1200px;
    margin: 0 auto;
    overflow: scroll;
    overflow-x: hidden;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  &__singleProductContainer {
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  &__singleProductCheckbox {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
  }
  &__singleProductDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
    width: 230px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__headerBtn1 {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    min-width: 132px;
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  &__headerBtn1:hover {
    color: #47dd1e;
    background-color: whitesmoke;
  }
  &__headerBtn2 {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    min-width: 132px;
    margin-right: 1rem;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  &__headerBtn2:hover {
    color: #e12228;
    background-color: whitesmoke;
  }
  &__footer {
    display: grid;
    place-items: center;
    background-color: #fff;
    height: 120px;
    border-top: 1px solid gray;
  }
}
/* add product page styles */
.form {
  &__heading {
    margin: 30px 0;
    text-align: center;
    font-size: 32px;
  }
  &__container {
    min-height: calc(100vh - 240px);
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  &__inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 350px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    h1 {
      font-weight: 300;
    }
  }
  &__inputLoader {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
  &__submit {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    p {
      margin-bottom: 5px;
      font-size: 25px;
    }
    label {
      font-size: 25px;
      margin-bottom: 5px;
      color: #e12228!important;
      margin-bottom: 10px;
      font-size: 14px;
    }
    input {
      padding: 20px;
      font-size: 20px;
      margin-bottom: 10px;
      background-color: whitesmoke;
      outline: none;
      border-radius: 5px;
      border: none;
    }
    select {
      padding: 20px;
      font-size: 20px;
      margin-bottom: 10px;
      border: none;
      background-color: whitesmoke;
      border-radius: 5px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  &__productDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  &__btns {
      button {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    min-width: 132px;
    margin-right: 5px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    }
  }
  &__btn1:hover {
    color: #47dd1e;
    background-color: whitesmoke;
  }
  &__btn2:hover {
    color: #e12228;
    background-color: whitesmoke;
  }
  &__wordWrap {
    overflow-wrap: break-word;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}